php-fpm:
  build:
    context: .
    dockerfile: Dockerfile
  container_name: laravel-php
  volumes:
    - .:/var/www
  expose:
    - "9000"

nginx:
  image: nginx:alpine
  container_name: laravel-nginx
  ports:
    - "61872:80"
  volumes:
    - .:/var/www
    - ./nginx.conf:/etc/nginx/conf.d/default.conf
  depends_on:
    - php-fpm
